body {
  margin: 0;
  height: 100vh;
  background-image: url(img/Fond.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
ul {
  height: 50vh;
  width: 47vw;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style-type: none;
}
a{
    color: gray;
    font-size: 1.5vw;
}
p{  
    color: #d84b0f;
    font-size: 2vw;
}
/* Liens du Modal */
.modal-trigger {
  color: #d84b0f;
  cursor: pointer;
  font-size: 3vw;
  height: 40vh;
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Modal */
.modal {
  display: none;
  position: absolute;
  top: 30%;
}
/* Bouton de fermeture du modal */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1001;
}
.close1 {
  height: 2vw;
}
